
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
*{
    margin: 0%;
    padding:0%;
}
body{
    overflow: hidden;
}
body{
    /* background-color: #343F4F; */
    background: radial-gradient(ellipse at bottom,#1b2735 0%,#090a0f 100%);
    overflow: hidden;
    height:100vh;
    width:100vw
}
.container{
    width:100vw;
    height:100vh;
    /* background-color: red; */
    overflow: hidden;
}
.bubbles{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.bubbles_2{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   /* margin:2%;  */
   /* margin-right: 2%; */
}
@media(min-width:100px) and (max-width:900px){
    .vbg{
        display:none;
       
    }
}
.bubl{
    width: 20px;
    height:20px;
   margin:0.2%;
    background-color: #2dd5ff;
border-radius: 50%;
box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 100px #4fc3dc;

        animation-name: bubbles_move;
        animation-duration: 160s;
        animation-iteration-count: infinite;
        animation-duration: calc(480s/ var(--i));
        animation-fill-mode: forwards;
        position:relative;
        z-index: -1;
}
.bubbles div:nth-child(even){
background-color: #ff2d7f;
border-radius: 50%;
box-shadow: 0 0 0 10px#ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
@keyframes bubbles_move {
    from{
        top:100vh;
        transform: scale(0.1);
    }

    to{
top:-100vh;
transform: scale(0.8);
    }
}


/* +++++++++++++++++++++++++++++++++++ */

.tpll{
    width:fit-content;
    height:fit-content;
    /* background-color:#e4fd00; */
    position: fixed;
    margin: auto;
    top:35%;
   
}
.tpll2{
    width:fit-content;
    height:fit-content;
    /* background-color:#e4fd00; */
    position: fixed;
    margin: auto;
    top:50%;
   
}
.tpll2 p{
    font-family: 'Gruppo', sans-serif;
    color:rgb(240, 4, 63);
    
    overflow: hidden;
    
    /* animation-name: sp3d;
    animation-duration: 6s;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    white-space: nowrap; */
    /* font-size: 60px; */
    font-family: 'Gruppo', sans-serif;
   text-align: center;
    /* font-weight: 40px;
    user-select: none;
    font-size: 40px; */
   font-size: 20px;
}
#collegeey{
    color:white;
    font-size: 17px;
}
.tpll2 address{
    font-family: 'Gruppo', sans-serif;
    color:rgb(240, 4, 63);
    
    overflow: hidden;
    font-size: 15px;
    /* animation-name: sp3d;
    animation-duration: 6s;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    white-space: nowrap; */
    /* font-size: 60px; */
    font-family: 'Gruppo', sans-serif;
   text-align: center;
    /* font-weight: 40px;
    user-select: none;
    font-size: 40px; */
   font-size: 16px;
   color:#4fc3dc;
}
.tpll h2{
    font-family: 'Gruppo', sans-serif;
    color:white;
    overflow: hidden;
    white-space: nowrap;
    border-right:1px  solid #ff2d7f;
    animation-name: sp3d3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    white-space: nowrap;
    /* font-size: 60px; */
    font-family: 'Gruppo', sans-serif;
    animation-direction: alternate;
    font-weight: 40px;
    user-select: none;
    font-size: 40px;
    animation-timing-function: steps(45, end);
}


@keyframes sp3d{
    0% {
        width: 0%;
        
    }

    100% {
        width:103%;
       
    }

}
@keyframes sp3d3{
    0% {
        width: 0%;
    }

    100% {
        width:103%;
    }

}
.tpll_img{
width:190px;
height:190px;
background-color: #000000;
border-radius: 50%;
    /* background-color:#e4fd00; */
    position: fixed;
    margin: auto;
    top:5%;
    overflow: hidden;
    box-shadow: 0 0 0 0px#ff2d7544,
0 0 10px #ff2d75,
0 0 50px #ff2d75;
}
.tpll_img::after{
    content: "";
    position: absolute;
    top:0px;
    left:45%;
    margin: auto;
    width:25px;
    height:230px;
    background:linear-gradient(red,yellow);
    
    animation:sp3d4 6s linear infinite;
    z-index: 1;
}
.tpll_img img{
    content: "";
    position: absolute;
    top:0px;
    left:0;
    margin: auto;
    width:180px;
    height:180px;
    border-radius: 50%;
    left:5px;
    top:5px;
    background-color: #151718;
    z-index: 3;
    /* background-image:url("./club12345.png");
    background-position: center;
    background-attachment: fixed;
    
    background-size:cover;
   
    background-repeat: no-repeat; */
    
}
.tpll_img img{
    width:180px;
    height:180px;
    border-radius: 50%;
    z-index: 5;
    
}
@keyframes sp3d4{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}
@media (max-width:700px){
    .tpll1 p{
        font-size: 20px;
    }
    .tpll h2{
        font-size: 20px;
        font-weight: lighter;
    }


    .tpll_img{
        width:130px;
        height:130px;
        background-color: #000000;
        border-radius: 50%;
            /* background-color:#e4fd00; */
            position: fixed;
            margin: auto;
            top:15%;
            overflow: hidden;
            box-shadow: 0 0 0 0px#ff2d7544,
0 0 10px #ff2d75,
0 0 50px #ff2d75;
        }
        .tpll_img::after{
            content: "";
            position: absolute;
            top:0px;
            /* left:38%; */
            transform: translateX(0%);
            margin: auto;
            width:15px;
            height:190px;
            background:linear-gradient(red,yellow);
            
            animation:sp3d4 5s linear infinite;
            z-index: 1;
        }
        .tpll_img img{
            content: "";
            position: absolute;
            top:0px;
            left:0;
            margin: auto;
            width:120px;
            height:120px;
            border-radius: 50%;
            left:4.5px;
            top:5px;
            background-color: #151718;
            z-index: 3;
            /* background-image:url("./club12345.png");
            background-position: center;
            background-attachment: fixed;
            
            background-size:cover;
           
            background-repeat: no-repeat; */
            
        }
        .tpll_img img{
            width:120px;
            height:120px;
            border-radius: 50%;
            z-index: 5;
        }
}
.sanju{
    color:rgb(255, 0, 64);
position:fixed;
top:90vh;
margin: auto;
transform: scale(2);
}
.net_button{
    position:fixed;
    top:90vh;
    margin: auto;  
}
.sanju:hover{
    color:#4fc3dc;
}
.sanju1{
    color:rgb(255, 0, 64);

position: relative;
top:1vh;
transform: scale();
}
.sanju2{
    color:rgb(247, 246, 246);

position: relative;
top:1vh;
transform: scale();
}
.sanju3{
    color:rgb(30, 238, 228);

position: relative;
top:1vh;
transform: scale();
}
#gmail_me{
    color:#dc934f;
}
.sanju4{
    color:#dc934f;

position: relative;
top:1vh;
transform: scale();
}
#website_me a{
text-decoration: none;
color:#98e640;
}
.sanju5{
    position: relative;
    top:1vh;
    transform: scale();
   color: #e65940;
}
.sanju6{
    position: relative;
    top:1vh;
    transform: scale(); 
    color:#98e640;
}
.image_logo_an{
    display:inline-block;
    text-align: center;
    margin: auto;
    /* background-color: #000000; */
    width:100%;
    margin-top:2%;
    padding:1%;
}
.image_logo_an a{
    text-align: center;
    text-decoration: none;
    margin: auto;
}
.image_logo_an img{
    width:30px;
    height:30px;
    border:1px solid rgb(230, 10, 83);
    border-radius: 50%;
    text-align: center;
    margin: auto;
    box-shadow: 0 0 0 1px#ff2d7544,
    0 0 2px #ff2d75,
    0 0 2px #ff2d75;
}
.image_logo_an img:hover{
    transform: scale(1.2);
}
